<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Events <span class="text-primary">Proposal</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if not request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'all-event-proposals' %}">Event Proposals</a>
        </li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'event-proposal-queue' %}">Event Proposals Queue</a>
        </li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ request.user }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
        </ul>
      </div>
     
      {% endif %}
    </div>
  </div>
</nav>